@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #1e2e57;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background:rgba(0, 0, 0, 0.85);
}

/* HEADER */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #363636;
    border-radius: 1px;
    z-index: 99999;
}

#header .header-wrapper {
    width: 98%;
    height: 100%;
}

#header .header-wrapper .logo {
    margin-left: 0.1rem;
    float: left;
    height: 100%;
    line-height: 80px;
    width: 90%;
    padding-bottom: 0.6rem;
}

#header .header-wrapper .logo a img {
    width: 100%;
    margin-top: 1rem;
}

.menuBtn {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #363636;
    z-index: 999;
    cursor: pointer;
}

.menuBtn .menuBtn-wrapper {
    width: 98%;
    margin: 0 auto;
    height: 100%;
}

.menuBtn i.xi-bars {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: #34519b;
    line-height: 40px;
}

/* MENU */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    top: -100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

.menu .menu-header {
    position: fixed;
    right: 1.5rem;
    top: 80px;
    cursor: pointer;
    font-size: 2rem;
    color: #bdbdbd;
    transition: all .3s;
}

.menu .menu-header:hover {
    color: #34519b;
}

.menu .menu-section {
    position: absolute;
    top: 120px;
    width: 90%;
    height: 100%;
    margin: 0 5%;
}

.menu .menu-section ul li {
    text-align: center;
    margin: 2rem 0;
}

.menu .menu-section ul li a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all .3s;
    padding: 0.5rem 0;
    border-radius: 2px;
}

.menu .menu-section ul li a:hover {
    color: #34519b;
}

/* MAIN */
.main-banner {
    /* margin-top: 120px; */
    width: 100%;
    height: 100vh;
}

.main-banner img {
    width: 100%;
    height: 100vh;
}

/* MERCHANDISE */
.merchandise {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    /* background: rgba(48, 48, 48, 0.6); */
    background: linear-gradient(to bottom, transparent 38px, #414141 38px) 0 0 / 100vw 40px repeat-y,
                linear-gradient(to right, transparent 38px, #414141 38px) 0 0 / 40px 100vh repeat-x rgb(44, 44, 44);
}

.merchandise h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.merchandise ul li {
    list-style: none;
    flex-shrink: 0;
    width: auto;
    height: 100%;
}

.merchandise ul li img {
    width: auto;
    height: 100%;
}

/* MERCHANDISE 슬라이드 애니메이션 클래스 */
.infinite-slide {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* 호버 시 애니메이션 일시 정지 */
.merchandise:hover ul {
    animation-play-state: paused;
}

.linkBtn {
    text-align: center;
    margin-bottom: 4rem;
}

.linkBtn a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all .4s;
}

.linkBtn a:hover {
    color: #34519b;
}

/* VIDEOS */
.videos {
    width: 98%;
    margin: 0 auto 4rem;
}

.section-title {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

.section-title h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}

.videos .video-section {
    width: 100%;
    display: flex;
    gap: 1rem;
    user-select: none;
    position: relative;
    overflow-x: auto;
    margin-bottom: 2rem;
}

.videos .video-section .video-item {
    flex-shrink: 0;
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
}

.videos .video-section .video-item a img {
    width: 100%;
    border-radius: 4px;
    transition: all .4s;
}

.videos .video-section .video-item a img:hover {
    transform: scale(1.02);
}

.videos .video-section .video-item .txt h4 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.videos .video-section::-webkit-scrollbar {
    height: 7px;
}

.videos .video-section::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 1px;
    transition: all .4s;
}

.videos .video-section::-webkit-scrollbar-thumb:hover {
    background-color: #1e2e57;
}

/* TOUR DATES */
.tour-dates {
    width: 98%;
    margin: 10rem auto 4rem;
}

.tour-dates .section-title {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 0.5rem;
}

.tour-dates .dates {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tour-dates .dates article {
    margin-bottom: 2rem;
    border-bottom: 1px solid #4d4d4d;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .4s;
    border-radius: 3px;
}

.tour-dates .dates article:hover {
    background: #303030;
}

.tour-dates .dates article h5 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.tour-dates .dates article p {
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.tour-dates .dates article a {
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    transition: all .4s;
}

.tour-dates .dates article a:hover {
    color: #34519b;
}

/* FOOTER */
#footer {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    border-top: 1px solid #363636;
}

#footer .sonyMusic-logo img {
    width: 50%;
    display: block;
    margin: 2rem auto 1rem;
}

#footer .linkList {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 2rem;
}

#footer .linkList a {
    text-decoration: none;
    color: #bdbdbd;
    font-size: 0.7rem;
    display: block;
    margin-bottom: 1rem;
    transition: all .4s;
}

#footer .linkList a:hover {
    color: #34519b;
}

#footer .under-footer {
    text-align: center;
}

#footer .under-footer p {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#footer .under-footer a {
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    margin-bottom: 1.2rem;
}

#footer .under-footer a:hover {
    color: #34519b;
}


/* TOP BUTTON */
.topBtn {
    position: fixed;
    bottom: 1rem;
    right: 2%;
}

.topBtn button {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    border: 1px solid transparent;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all .4s;
    border-radius: 3px;
}

.topBtn button:hover {
    background: #34519b;
    border: 1px solid #34519b;
}