@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #1e2e57;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background:rgba(0, 0, 0, 0.85);
}

/* HEADER */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #363636;
    border-radius: 1px;
    z-index: 99999;
}

#header .header-wrapper {
    width: 98%;
    height: 100%;
}

#header .header-wrapper .logo {
    margin-left: 0.1rem;
    float: left;
    height: 100%;
    line-height: 80px;
    width: 90%;
    padding-bottom: 0.6rem;
}

#header .header-wrapper .logo a img {
    width: 100%;
    margin-top: 1rem;
}

.menuBtn {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #363636;
    z-index: 999;
    cursor: pointer;
}

.menuBtn .menuBtn-wrapper {
    width: 98%;
    margin: 0 auto;
    height: 100%;
}

.menuBtn i.xi-bars {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: #34519b;
    line-height: 40px;
}

.pc-menu {
    display: none;
}

/* MENU */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    top: -100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

.menu .menu-header {
    position: fixed;
    right: 1.5rem;
    top: 80px;
    cursor: pointer;
    font-size: 2rem;
    color: #bdbdbd;
    transition: all .3s;
}

.menu .menu-header:hover {
    color: #34519b;
}

.menu .menu-section {
    position: absolute;
    top: 120px;
    width: 90%;
    height: 100%;
    margin: 0 5%;
}

.menu .menu-section ul li {
    text-align: center;
    margin: 2rem 0;
}

.menu .menu-section ul li a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all .3s;
    padding: 0.5rem 0;
    border-radius: 2px;
}

.menu .menu-section ul li a:hover {
    color: #34519b;
}

/* MAIN */
.main-banner {
    /* margin-top: 120px; */
    width: 100%;
    height: 100vh;
}

.main-banner img.mobile-img {
    width: 100%;
    height: 100vh;
}

.main-banner .pc-img {
    display: none;
}

/* MERCHANDISE */
.merchandise {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    /* background: rgba(48, 48, 48, 0.6); */
    background: linear-gradient(to bottom, transparent 38px, #414141 38px) 0 0 / 100vw 40px repeat-y,
                linear-gradient(to right, transparent 38px, #414141 38px) 0 0 / 40px 100vh repeat-x rgb(44, 44, 44);
}

.merchandise ul li {
    list-style: none;
    flex-shrink: 0;
    width: auto;
    height: 100%;
}

.merchandise ul li img {
    width: auto;
    height: 100%;
}

/* MERCHANDISE 슬라이드 애니메이션 클래스 */
.infinite-slide {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* 호버 시 애니메이션 일시 정지 */
.merchandise:hover ul {
    animation-play-state: paused;
}

.linkBtn {
    text-align: center;
    margin-bottom: 4rem;
}

.linkBtn a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all .4s;
}

.linkBtn a:hover {
    color: #34519b;
}

/* VIDEOS */
.videos {
    width: 98%;
    margin: 0 auto 4rem;
}

.section-title {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

.section-title h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}

.videos .video-section {
    width: 100%;
    display: flex;
    gap: 1rem;
    user-select: none;
    position: relative;
    overflow-x: auto;
    margin-bottom: 2rem;
}

.videos .video-section .video-item {
    flex-shrink: 0;
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
}

.videos .video-section .video-item a img {
    width: 100%;
    border-radius: 4px;
    transition: all .4s;
}

.videos .video-section .video-item a img:hover {
    transform: scale(1.02);
}

.videos .video-section .video-item .txt h4 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.videos .video-section::-webkit-scrollbar {
    height: 7px;
}

.videos .video-section::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 1px;
    transition: all .4s;
}

.videos .video-section::-webkit-scrollbar-thumb:hover {
    background-color: #1e2e57;
}

/* TOUR DATES */
.tour-dates {
    width: 98%;
    margin: 10rem auto 4rem;
}

.tour-dates .section-title {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 0.5rem;
}

.tour-dates .dates {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tour-dates .dates article {
    margin-bottom: 2rem;
    border-bottom: 1px solid #4d4d4d;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .4s;
    border-radius: 3px;
}

.tour-dates .dates article:hover {
    background: #303030;
}

.tour-dates .dates article h5 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.tour-dates .dates article p {
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.tour-dates .dates article a {
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    transition: all .4s;
}

.tour-dates .dates article a:hover {
    color: #34519b;
}

/* ALBUM */
.album {
    width: 98%;
    margin: 10rem auto 4rem;
}

.album .album-wrapper {
    width: 100%;
}

.album .album-wrapper article {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.album .album-wrapper article.tablet, .album .album-wrapper article.pc {
    display: none;
}

.album .album-wrapper article a img {
    width: 80%;
    display: block;
    margin: 0 auto 1rem;
    transition: all .4s;
    border-radius: 4px;
}

.album .album-wrapper article a img:hover {
    transform: scale(1.05);
}

.album .album-wrapper article h4 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: .6rem;
}

.album .album-wrapper p {
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.album .album-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all .4s;
}

.album .album-wrapper a:hover {
    color: #34519b;
}


/* FOOTER */
#footer {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    border-top: 1px solid #363636;
}

#footer .sonyMusic-logo img {
    width: 50%;
    display: block;
    margin: 2rem auto 1rem;
}

#footer .linkList {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 2rem;
}

#footer .linkList a {
    text-decoration: none;
    color: #bdbdbd;
    font-size: 0.7rem;
    display: block;
    margin-bottom: 1rem;
    transition: all .4s;
}

#footer .linkList a:hover {
    color: #34519b;
}

#footer .under-footer {
    text-align: center;
}

#footer .under-footer p {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#footer .under-footer a {
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    margin-bottom: 1.2rem;
}

#footer .under-footer a:hover {
    color: #34519b;
}


/* TOP BUTTON */
.topBtn {
    position: fixed;
    bottom: 1rem;
    right: 2%;
}

.topBtn button {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    border: 1px solid transparent;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all .4s;
    border-radius: 3px;
}

.topBtn button:hover {
    background: #34519b;
    border: 1px solid #34519b;
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #header {
        height: 100px;
    }

    #header .header-wrapper .logo {
        width: 70%;
    }

    #header .header-wrapper .logo a img {
        width: 80%;
        margin-top: 1.5rem;
    }

    .menuBtn {
        top: 100px;
        height: 50px;
    }

    .menu .menu-header {
        top: 120px;
    }

    .menuBtn {
        height: 50px;
    }

    .menuBtn i.xi-bars {
        line-height: 50px;
        font-size: 1.8rem;
    }

    .merchandise {
        height: 400px;
    }

    .merchandise ul li img {
        width: 100%;
        height: 100%;
    }

    .linkBtn a {
        font-size: 1rem;
    }

    .album .album-wrapper {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .album .album-wrapper article.tablet {
        display: block;
    }

    .album .album-wrapper article {
        width: calc(50% - 1rem);
    }

    #footer .sonyMusic-logo img {
        width: 30%;
        margin-bottom: 3rem;
    }

    #footer .linkList a {
        font-size: 0.9rem;
    }
}


/* PC */
@media screen and (min-width: 1025px) {
    #header {
        height: 100px;
    }

    #header .header-wrapper .logo a img {
        width: 58%;
        line-height: 100px;
    }

    .menuBtn {
        display: none;
    }

    .menu {
        display: none;
    }

    .pc-menu {
        display: block;
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%;
        height: 60px;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid #363636;
    }

    .pc-menu .pc-wrapper {
        width: 98%;
        height: 100%;
        margin: 0 auto;
    }

    .pc-menu .pc-wrapper ul {
        display: flex;
        justify-content: right;
        gap: 2.5rem;
        height: 100%;
    }

    .pc-menu .pc-wrapper ul li {
        position: relative;
        padding: 0.5rem;
    }

    .pc-menu .pc-wrapper ul li a {
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 300;
        color: #34519b;
        line-height: 50px;
        transition: all .4s;
    }

    .pc-menu .pc-wrapper ul li a:hover {
        color: #fff;
    }
    
    .main-banner {
        width: 100%;
        height: auto;
        margin-top: 150px;
    }

    .main-banner .mobile-img {
        display: none;
    }

    .main-banner img.pc-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .tour-dates .dates-wrapper .section-title {
        text-align: left;
    }

    .tour-dates .dates-wrapper .dates article {
        display: flex;
        justify-content: space-between;
    }
    
    .album .album-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 40px 20px;
        grid-auto-rows: 1fr;
    }

    .album .album-wrapper article.tablet, .album .album-wrapper article.mobile, .album .album-wrapper article.pc {
        display: block;
    }

    .album-item {
        position: relative;
    }

    .album-item.size-large {
        grid-column: span 2;
    }

    .album-item.size-vertical {
        grid-row: span 2;
    }

    .album-item a {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .album-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .3s ease;
    }

    .album-txt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .4s ease;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        pointer-events: none;
    }

    .album-txt h4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .album-txt p {
        margin-bottom: 15px;
    }

    .album-txt a {
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        pointer-events: auto;
    }

    .album-item:hover .album-txt {
        opacity: 1;
    }

    .album-item:hover img {
        transform: scale(1.05);
    }

    #footer .sonyMusic-logo img {
        width: 20%;
        margin-bottom: 3rem;
    }

    #footer .linkList a {
        font-size: 1rem;
    }

    #footer .under-footer {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .topBtn {
        bottom: 4%;
    };
}